{% extends "layout.html" %}

{% block title %}Announcements{% endblock %}

{% block courses %}

  {% if curr_sites %}
    {% for site in curr_sites %}
      <li><a href="#" id="">{{ site.title }}</a></li>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <h6>&nbsp; Current Course: {{ curr_sites.0.title }}</h6>
  </div>
</div>

<div class="container">
  <div class="header">
    <h4>Announcement</h4>
  </div>
  
  <div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <tr>
          <!--avoid linking to the official tsquare assignment page?-->
          <th class="col-xs-2">Announcements</th>
          <td class="col-xs-2"><a href="{{ assignment.href }}">assignment.title</a></td>
        </tr>
        <tr>
          <th class="col-xs-2">Status</th>
          <td class="col-xs-2">assignment.status</td>
        </tr>
        <tr>
          <th class="col-xs-2">Open</th>
          <td class="col-xs-2">assignment.openDate</td>
        </tr>
        <tr>
          <th class="col-xs-2">Due</th>
          <td class="col-xs-2">assignment.dueDate</td>
        </tr>
        <!--something to denote that an attachment exists?-->
      </table>
      <hr>
      <table class="table table-bordered table-condensed">
        <tr>
          <!--avoid linking to the official tsquare assignment page?-->
          <th class="col-xs-2">Announcements</th>
          <td class="col-xs-2"><a href="{{ assignment.href }}">assignment.title</a></td>
        </tr>
        <tr>
          <th class="col-xs-2">Status</th>
          <td class="col-xs-2">assignment.status</td>
        </tr>
        <tr>
          <th class="col-xs-2">Open</th>
          <td class="col-xs-2">assignment.openDate</td>
        </tr>
        <tr>
          <th class="col-xs-2">Due</th>
          <td class="col-xs-2">assignment.dueDate</td>
        </tr>
        <!--something to denote that an attachment exists?-->
      </table>
      <hr>
      <table class="table table-bordered table-condensed">
        <tr>
          <!--avoid linking to the official tsquare assignment page?-->
          <th class="col-xs-2">Announcements</th>
          <td class="col-xs-2"><a href="{{ assignment.href }}">assignment.title</a></td>
        </tr>
        <tr>
          <th class="col-xs-2">Status</th>
          <td class="col-xs-2">assignment.status</td>
        </tr>
        <tr>
          <th class="col-xs-2">Open</th>
          <td class="col-xs-2">assignment.openDate</td>
        </tr>
        <tr>
          <th class="col-xs-2">Due</th>
          <td class="col-xs-2">assignment.dueDate</td>
        </tr>
        <!--something to denote that an attachment exists?-->
      </table>
      <hr>
  </div>

</div> <!-- /container -->

{% endblock %}
