{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}

<div class="container">
  <div class="header">
    <h4>Assignment List</h4>
    <!--list the number of assignments being viewed here?-->
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row-header">
        <!--click header to change sort order?-->
        <div class="col-xs-3"><a href="#">Assignments</a></div>
        <div class="col-xs-3"><a href="#">Status</a></div>
        <div class="col-xs-3"><a href="#">Open</a></div>
        <div class="col-xs-3"><a href="#">Due</a></div>
      </div>
      <hr width="100%">

  {% if assignments %}
    {% for assignment in assignments %}
      <div class="row">
        <!--avoiding linking to the official tsquare assignment page?-->
        <div class="col-xs-3"><a href="/assignments/{{ assignment.href }}">{{ assignment.title }}</a></div>
        <div class="col-xs-3">{{ assignment.status }}</div>
        <div class="col-xs-3">{{ assignment.openDate }}</div>
        <div class="col-xs-3">{{ assignment.dueDate }}</div>
        <!--something to denote that an attachment exists?-->
      </div>
      <hr class="tablerow">
    {% endfor %}
  {% else %}
      <p> No Assignments</p>
  {% endif %}
    </div>
  </div>

</div> <!-- /container -->

{% endblock %}