{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block courses %}

  {% if curr_sites %}
    {% for site in curr_sites %}
      <li><a href="#" id="">{{ site.title }}</a></li>
    {% endfor %}
  {% endif %}

{% endblock%}

{% block content %}

<div class="container">
  <div class="header">
    <h4>Assignment List</h4>
  </div>

    <table >
      <thead>
        <tr>
          <!--click header to change sort order?-->
          <th><a href="#">Assignments</a></th>
          <th><a href="#">Status</a></th>
          <th><a href="#">Open</a></th>
          <th><a href="#">Due</a></th>
        </tr>
      </thead>
      <tbody>
      {% for assignment in assignments %}
        <tr>
          <!--avoiding linking to the official tsquare assignment page?-->
          <td data-title="Assignments"><a href="{{ assignment.href }}">{{ assignment.title }}</a></td>
          <td data-title="Status">{{ assignment.status }}</td>
          <td data-title="Open">{{ assignment.openDate }}</td>
          <td data-title="Due">{{ assignment.dueDate }}</td>
          <!--something to denote that an attachment exists?-->
        </tr>
      {% endfor %}
      </tbody>
    </table>
  

</div> <!-- /container -->

{% endblock %}