{% extends "layout.html" %}

{% block title %}Course Info{% endblock %}

{% block courses %}

  {% if curr_sites %}
  <form action="#" method="get">
    {% for site in curr_sites %}
      <li>
        <input type="submit" value={{ site.title }} name={{ site.id }}></input>
      </li>
    {% endfor %}
  </form>
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <h6>&nbsp; Current Course: {{ curr.title }}</h6>
  </div>
</div>

<div class="container">
  <div class="header">
    <h4>Course Info</h4>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text1">
        <p><a href="#">Course Objectives</a></p>
        <p><a href="#">Office Hours</a></p>
        <p><a href="#">Grading Scale</a></p>
        <p><a href="#">Additional Info</a></p>
      </div>
    </div>
  </div>
</div> <!-- /container -->

{% endblock %}
