{% extends "layout.html" %}

{% block title %}Gradebook{% endblock %}

{% block content %}

<div class="container">
  <h2>Course Grade : Not yet available</h2>
  <br>
  <h1>Gradebook Items</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Grade</th>
          <th>Weight</th> // not always displayed
          <th>Comment</th>
        </tr>
        <tr>
          <td>Homework 1</td>
          <td>Sep 10, 2013</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Homework 2</td>
          <td>Sep 17, 2013</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>Homework 3</td>
          <td>Sep 18, 2013</td>
          <td> - </td>
        </tr>
      </table>
    </div>

</div> <!-- /container -->

{% endblock %}
