{% extends "layout.html" %}

{% block title %}Gradebook{% endblock %}

{% block content %}

<div class="container">

  <div class="header">
    <h5>Course Grade : Not yet available</h5>
    <p></p>
    <h4>Gradebook Items</h4>
    <!--list the number of assignments being viewed here?-->
  </div>
  <div class="panel">
  <table class="table table-striped table-condensed table-responsive">
    <thead>
      <tr>
        <th class="col-xs-2">Title</th>
        <th class="col-xs-2">Due Date</th>
        <th class="col-xs-2">Grade</th>
        <th class="col-xs-2">Weight</th> <!--not always displayed-->
        <th class="col-xs-2">Comment</th>
      </tr>
    </thead>
  </table>

    <div class="row-fluid">
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading"><a class="accordion-toggle" href="#collapse1" data-toggle="collapse" data-parent="#accordion2"><span class="caret"></span> Homework</a></div>
            <div class="accordion-body collapse in" id="collapse1">
              <div class="accordion-inner">
                <table class="table table-striped table-condensed">

                  <tbody>
                    <tr>
                      <td class="col-xs-2">Homework 1</td>
                      <td class="col-xs-2">Sep 10, 2013</td>
                      <td class="col-xs-2">100%</td>
                      <td class="col-xs-2">x</td>
                      <td class="col-xs-2">xxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                      <td class="col-xs-2">Homework 2</td>
                      <td class="col-xs-2">Sep 10, 2013</td>
                      <td class="col-xs-2">100%</td>
                      <td class="col-xs-2">x</td>
                      <td class="col-xs-2">xxxxxxxxxxxxxx</td>
                    </tr>
                    <tr>
                      <td class="col-xs-2">Homework 3</td>
                      <td class="col-xs-2">Sep 10, 2013</td>
                      <td class="col-xs-2">100%</td>
                      <td class="col-xs-2">x</td>
                      <td class="col-xs-2">xxxxxxxxxxxxxx</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion3">
            <div class="accordion-group">
              <div class="accordion-heading"><a class="accordion-toggle" href="#collapse2" data-toggle="collapse" data-parent="#accordion3"><span class="caret"></span> Exams</a></div>
                <div class="accordion-body collapse in" id="collapse2">
                  <div class="accordion-inner">
                    <table class="table table-striped table-condensed">
                      
                      <tbody>
                        <tr>
                          <td class="col-xs-2">Exam 1</td>
                          <td class="col-xs-2">Sep 10, 2013</td>
                          <td class="col-xs-2">100%</td>
                          <td class="col-xs-2"></td>
                          <td class="col-xs-2"></td>
                        </tr>
                        <tr>
                          <td class="col-xs-2">Exam 2</td>
                          <td class="col-xs-2">Sep 10, 2013</td>
                          <td class="col-xs-2">100%</td>
                          <td class="col-xs-2"></td>
                          <td class="col-xs-2"></td>
                        </tr>
                        <tr>
                          <td class="col-xs-2">Exam 3</td>
                          <td class="col-xs-2">Sep 10, 2013</td>
                          <td class="col-xs-2">100%</td>
                          <td class="col-xs-2"></td>
                          <td class="col-xs-2"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion" id="accordion3">
            <div class="accordion-group">
              <div class="accordion-heading"><a class="accordion-toggle" href="#collapse3" data-toggle="collapse" data-parent="#accordion3"><span class="caret"></span> Quizzes</a></div>
                <div class="accordion-body collapse in" id="collapse3">
                  <div class="accordion-inner">
                    <table class="table table-striped table-condensed">
                     
                      <tbody>
                        <tr>
                          <td class="col-xs-2">Quiz 1</td>
                          <td class="col-xs-2">Sep 10, 2013</td>
                          <td class="col-xs-2">100%</td>
                          <td class="col-xs-2"></td>
                          <td class="col-xs-2"></td>
                        </tr>
                        <tr>
                          <td class="col-xs-2">Quiz 2</td>
                          <td class="col-xs-2">Sep 10, 2013</td>
                          <td class="col-xs-2">100%</td>
                          <td class="col-xs-2"></td>
                          <td class="col-xs-2"></td>
                        </tr>
                        <tr>
                          <td class="col-xs-2">Quiz 3</td>
                          <td class="col-xs-2">Sep 10, 2013</td>
                          <td class="col-xs-2">100%</td>
                          <td class="col-xs-2"></td>
                          <td class="col-xs-2"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div> <!-- /container -->

{% endblock %}
