{% extends "layout.html" %}

{% block title %}Gradebook{% endblock %}

{% block content %}

<div class="container">

  <div class="header">
    <h5>Course Grade : Not yet available</h5>
    <h4>Gradebook Items</h4>
    <!--list the number of assignments being viewed here?-->
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <tr>
        <!--click header to change sort order?-->
        <th class="col-xs-2"><a href="#">Title</a></th>
        <th class="col-xs-2"><a href="#">Due Date</a></th>
        <th class="col-xs-2"><a href="#">Grade</a></th>
        <th class="col-xs-2"><a href="#">Weight</a></th> <!--not always displayed-->
        <th class="col-xs-2"><a href="#">Comment</a></th>
      </tr>
      <tr>
        <td class="col-xs-2"><a href="#">Homework 1</a></td>
        <td class="col-xs-2">Sep 10, 2013</td>
        <td class="col-xs-2">100%</td>
        <td class="col-xs-2"></td>
        <td class="col-xs-2"></td>
      </tr>
      <tr>
        <td class="col-xs-2"><a href="#">Homework 1</a></td>
        <td class="col-xs-2">Sep 10, 2013</td>
        <td class="col-xs-2">100%</td>
        <td class="col-xs-2"></td>
        <td class="col-xs-2"></td>
      </tr>
      <tr>
        <td class="col-xs-2"><a href="#">Homework 1</a></td>
        <td class="col-xs-2">Sep 10, 2013</td>
        <td class="col-xs-2">100%</td>
        <td class="col-xs-2"></td>
        <td class="col-xs-2"></td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->

{% endblock %}
