{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block courses %}

  {% if curr_sites %}
    {% for site in curr_sites %}
      <li><a href="#" id="">{{ site.title }}</a></li>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="panel panel-default">
    <h6>&nbsp; Current Course: {{ curr_sites.0.title }}</h6>
  </div>
</div>

<div class="container">
  <div class="header">
    <h4>Help Documentation</h4>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text1">

          <h2>Welcome to the new T-square!</h2>

          <h4>Getting Started</h4>

          <p>If you already have a T-square account, you can log in using your existing credentials by visiting <a href="http://tsquare-webapp-temp.herokuapp.com">http://tsquare-webapp-temp.herokuapp.com</a></p>

        <!--another link to github profile setup?-->
      </div>
    </div>
  </div>
</div> <!-- /container -->

{% endblock %}