{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block courses %}

  {% if curr_sites %}
    {% for site in curr_sites %}
      <li><a href="#" id="">{{ site.title }}</a></li>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="header">
    <h4>Help Documentation</h4>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text1">
        

        <!--another link to github profile setup?-->
      </div>
    </div>
  </div>
</div> <!-- /container -->

{% endblock %}