
<h4>Help Documentation</h4>

<h2>Welcome to the new T-square!</h2>

<h4>Getting Started</h4>

<p>If you already have a T-square account, you can log in using your existing credentials by visiting <a href="http://tsquare-webapp-temp.herokuapp.com">http://tsquare-webapp-temp.herokuapp.com</a></p>

<h4>Mobile/Web</h4>

<p>The new T-square is mobile/web and should scale appropriately on any mobile browser.</p>

<h4>Navigation</h4>

<ul>
    <li>
        <p><u>Tools</u></p>
        <p>Here you can find a list of links relative to each of your courses.</p>
        <ul>
            <li>Course Info</li>
            <li>Announcements</li>
            <li>Assignments</li>
            <li>Resources</li>
            <li>Gradebook</li>
            <li>Wiki</li>
        </ul>
    </li>
    <li>
        <p><u>Courses</u></p>
        <p>Here you can find a list of all the courses you're taking this semester.</p>
    </li>
    <li>
        <p><u>Profile Settings</u></p>
        <p>Here you can find options to set up some useful features for your account, such as Notifications, Time Zone, Integrating with external services etc.</p>
    </li>
</ul>