{% load staticfiles %}

<html>
	<head>
	<title>TSquare2 - {% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	
	</head>
	<body>
		<!-- Static navbar -->
    <div class="navbar navbar navbar-static-top">
      <ul class="nav nav-pills">

        <li class="disabled"><h5 href="#">T-Square</h5></li>
        <li><a></a></li>
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="/assignments/">Assignments</a></li>
        <li class="disabled"><a href="/profile/">Profile</a></li>
      </ul>
    </div>
    <br></br>

		{% block content %}

		{% endblock %}

    <!--Moved to end for faster page loading-->
		<script src={% static "js/jquery-1.10.2.js" %}></script>
		<script src={% static "js/bootstrap.js" %}></script>
	</body>
</html>
