{% extends "layout.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}

<div class="container">
  <div class="header">
    <h4>Assignment List</h4>
    <!--list the number of assignments being viewed here?-->
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <tr>
        <!--click header to change sort order?-->
        <th class="col-xs-4"><a href="#">Assignments</a></th>
        <th class="col-xs-4"><a href="#">Status</a></th>
        <!--<div class="col-xs-4"><strong>Open</strong></div>-->
        <th class="col-xs-4"><a href="#">Due</a></th>
      </tr>
      <tr>
        <td class="col-xs-4"><a href="/assignment_detail/">Homework 1</a></td>
        <td class="col-xs-4">Submitted Sep 10, 2013 3:00 pm</td>
        <td class="col-xs-4">Sep 13, 2013 5:00 pm</td>
      </tr>
      <tr>
        <td class="col-xs-4"><a href="/assignment_detail/">Homework 2</a></td>
        <td class="col-xs-4">Submitted Sep 10, 2013 3:00 pm</td>
        <td class="col-xs-4">Sep 13, 2013 5:00 pm</td>
      </tr>
      <tr>
        <td class="col-xs-4"><a href="/assignment_detail/">Homework 3</a></td>
        <td class="col-xs-4">Submitted Sep 10, 2013 3:00 pm</td>
        <td class="col-xs-4">Sep 13, 2013 5:00 pm</td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->

{% endblock %}