{% extends "login_layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
<div class="jumbotron">

    {% if login_failed %}
      <div class="alert alert-danger">
          {{ login_failed }}
      </div>
      {% endif %}
  <form class="form-signin" action="" method="POST">
  	{% csrf_token %}
    <h3>TSquare2 - Login</h3>

    <input type="text" name="username" class="form-control" placeholder="Username" />
    <input type="password" name="password" class="form-control" placeholder="Password" />
    <!--TBA
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>-->
    <button class="btn btn-warning btn-lg btn-block" type="submit" value="Login">Login</button>
  </form>

</div>
</div>

{% endblock %} 
