{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<h3>TSquare2 - Login</h3>

<form action="" method="POST">
	{% csrf_token %}
  <table>
    <tr>
      <td>Username</td>
      <td><input type="text" name="username" placeholder="Username" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password" placeholder="Password" /></td>
    </tr>
  </table>
  <input type="submit" value="Login" class="btn btn-default" />
</form>

{% endblock %} 
