{% extends "layout.html" %}

{% block title %}Resources{% endblock %}

{% block content %}

<div class="container">

  <div class="header">
    <h4>
      Location: {Course Name} Resources &nbsp;
      <button type="button" class="btn btn-default btn-xs">Up</button> <!--change to or add icon-->
    </h4>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <tr>
        <!--click header to change sort order?-->
        <th class="col-xs-2"><a href="#">Title</a></th>
        <th class="col-xs-2"><a href="#">Action</a></th>
        <th class="col-xs-2"><a href="#">Access</a></th>
        <th class="col-xs-2"><a href="#">Created By</a></th>
        <th class="col-xs-2"><a href="#">Modified</a></th> <!--not always displayed-->
        <th class="col-xs-2"><a href="#">Size</a></th>
      </tr>
      <tr>
        <td class="col-xs-2"><a href="#">Syllabus</a></td>
        <td class="col-xs-2"></td>
        <td class="col-xs-2">Entire Site</td>
        <td class="col-xs-2">Professor</td>
        <td class="col-xs-2">Aug 17, 2013</td>
        <td class="col-xs-2">1 item</td>
      </tr>
      <tr>
        <td class="col-xs-2"><a href="#">Lectures</a></td>
        <td class="col-xs-2"></td>
        <td class="col-xs-2">Entire Site</td>
        <td class="col-xs-2">Professor</td>
        <td class="col-xs-2">Aug 17, 2013</td>
        <td class="col-xs-2">1 item</td>
      </tr>
      <tr>
        <td class="col-xs-2"><a href="#">Study Guides</a></td>
        <td class="col-xs-2"></td>
        <td class="col-xs-2">Entire Site</td>
        <td class="col-xs-2">Professor</td>
        <td class="col-xs-2">Aug 17, 2013</td>
        <td class="col-xs-2">1 item</td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->

{% endblock %}
