{% extends "layout.html" %}

{% block title %}Resources{% endblock %}

{% block content %}

<div class="container">
  <h2>Location: ECON 2015-BH2 Resources</h2>
  <p>
  <!--connect to js-->
  <button type="button" class="btn btn-default btn-xs">Up</button> 
  </p>
  <br>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Title</th> <!--titles are buttons that sort list-->
        <th>Action</th>
        <th>Access</th>
        <th>Created By</th>
        <th>Modified</th> <!--not always displayed-->
        <th>Size</th>
      </tr>
      <tr>
        <td>Syllabus</td>
        <td></td>
        <td>Entire site</td>
        <td>Professor</td>
        <td>Aug 17, 2013</td>
        <td>1 item</td>
      </tr>
      <tr>
        <td>Lecture</td>
        <td></td>
        <td>Entire site</td>
        <td>Professor</td>
        <td>Aug 20, 2013</td>
        <td>5 items</td>
      </tr>
      <tr>
        <td>Study Guides</td>
        <td></td>
        <td>Entire site</td>
        <td>Professor</td>
        <td>Jan 2, 2013</td>
        <td>2 items</td>
      </tr>
    </table>
  </div>

</div> <!-- /container -->

{% endblock %}
