{% extends "layout.html" %}

{% block title %}Wiki{% endblock %}

{% block courses %}

  {% if curr_sites %}
    {% for site in curr_sites %}
      <li><a href="#" id="">{{ site.title }}</a></li>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="header">
    <h4>Wiki</h4>
  </div>

  <!--test button size on mobile-->
  <div class="btn-group btn-group-xs">
    <!--<a href="/wiki/">-->
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</button>
    <!--</a>-->
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> View</button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit</button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span> Info</button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-time"></span> History</button>
  </div>
  <p></p>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text1">
        <p>
          <strong>Home&nbsp;</strong><small>last modified by Kunda, Maithilee on October 29, 2013 11:05:35 AM EDT</small>
        </p>
        <hr></hr>
        <p><a href="#">Course Schedule</a></p>
        <p><a href="#">Lecture Links</a></p>
        <p><a href="#">Q & A</a></p>
        <p><a href="#">Project Signup</a></p>
      </div>
    </div>
  </div>
</div> <!-- /container -->

{% endblock %}
